.card {
    position: relative;
    transition-duration: 150ms;
    transition-timing-function: ease;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    justify-items: center;

    
    background-color: var(--color-card-background);
    padding: 1.5em 2em;
    margin: 0.75em 1em;
    border-radius: 1em;
    border: 1px var(--color-card-border) solid;
}

.card-dark {
    background-color: var(--color-card-background-dark);
    border: 1px var(--color-card-border-card) solid;
}

.card-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card .card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .card-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .card-buttons a {
    position: relative;
    margin-right: 0.35em;
}

.card .card-info {
    font-style: normal;
    text-transform: capitalize;
}
.card .card-info #country-name {
    text-transform: uppercase;
    font-weight: 500;
}
.card .card-info #ping-count {
    font-weight: 500;
    text-transform: lowercase;
}

#country-emoji {
    font-size: 2em;
    margin-right: 0.25em;
}

.card-loading {
    user-select: none;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.line-loading {
    display: inline-block;
    width: 8em;
    height: 1.5em;
    border-radius: 1em;
    margin: 0.5em;
    background-color: rebeccapurple;
    user-select: none;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.line-loading-long {
    display: inline-block;
    width: 12em;
    height: 1.5em;
    border-radius: 1em;
    margin: 0.5em;
    background-color: rebeccapurple;
    user-select: none;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.btn-loading-long {
    display: inline-block;
    width: 12em;
    height: 2em;
    border-radius: 1em;
    margin: 0.5em;
    background-color: rebeccapurple;
    user-select: none;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.cube-loading {
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 1em;
    margin: 1em 1em 1em 0;
    background-color: rebeccapurple;
    user-select: none;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.card-load {
    margin-top: 1.5em;
    opacity: 1;
    font-size: 1.2em;
}
    .card .card-buttons a {
        margin-right: 0.35em;
    }

@keyframes loading {
    0% {
        background-color: var(--color-card-background);
    }

    50% {
        background-color: var(--color-card-border);
    }
    
    100% {
        background-color: var(--color-card-background);
    }
}