/*
* Telegram Proxies UI
* Mohammad Javad Rakhshani
* May-June, 2023
*/

/* Font config */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Components */
@import url('components/card.css');
@import url('components/button.css');
@import url('components/notification.css');

/* Variables */
:root {
    /* Light-mode colors */
    --color-haeder-background: #f6f7fe;
    --color-notification-background: #e1e3ef;
    --color-haeder-background-small: #f6f7fe55;
    --color-haeder-shadow: #292c4847;
    --color-main-background: #e8ecfc;
    --color-footer-background: #d1d7ff;
    --color-card-background: #F1F4FF;
    --color-card-border: #cacfd9;
    --color-card-border-hover: #63676e;
    --color-primary: #2954ff;
    --color-primary-pressed: #1934a2;
    --color-secondary: #d3dcfb;
    --color-secondary-pressed: #484c5a;
    --color-main-color: #262729;
    --color-onprimary-color: #f1f1f1;

    /* Drak-mode colors */
    --color-haeder-background-dark: #454545;
    --color-notification-background-dark: #2b2b2b;
    --color-haeder-background-small-dark: #10101087;
    --color-haeder-shadow-dark: #292c4847;
    --color-main-background-dark: #242527;
    --color-footer-background-dark: #313131;
    --color-card-background-dark: #313131;
    --color-card-border-dark: #434343;
    --color-card-border-hover-dark: #63676e;
    --color-primary-dark: #2954ff;
    --color-primary-pressed-dark: #1934a2;
    --color-secondary-dark: #3f4149;
    --color-secondary-pressed-dark: #282a32;
    --color-main-color-dark: #e0e5ef;
    --color-onprimary-color-dark: #f1f1f1;

    /* Site config */
    --font-main: "Open Sans";
    --blur-haeder-background-small: 15px;
}

/* Basic Document Config */
* {
    font-family: var(--font-main), sans-serif, system-ui, -apple-system;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    transition: all 220ms ease-in-out;
    font-size: 16px;
    color: var(--color-main-color);
    background-color: var(--color-main-background);
}


header {
    background-color: var(--color-haeder-background);
    color: var(--color-main-color);
}

header {
    transition: all 500ms ease-in-out;
    position: sticky;
    padding: 0 2em;
    top: 0;
    z-index: 10; /* Highest z-index */
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    box-shadow: 0 0 15px -10px var(--color-haeder-shadow);
}

header.small {
    background-color: var(--color-haeder-background-small);
    backdrop-filter: blur(var(--blur-haeder-background-small));
    font-size: small;
    display: flex;
}

header.hidden {
    top: -15em;
}

header .logo img {
    width: 4em;
}
header .logo {
    margin: 1em;
}
header .info {
    margin-top: .65em;
    margin-right: 1em;
}

footer {
    transition: all 220ms ease-in-out;
    margin-top: 1em;
    padding: 1.5em;
    background-color: var(--color-footer-background);
    color: var(--color-main-color);
    text-align: center;
}
footer img {
    width: 3em;
}

.container-light {
    position: relative;
    width: 100vw;
}

.light-item {
    display: block;
    width: 100vw;
    padding: 1em;
}


.body-dark {
    color: var(--color-main-color-dark);
    background-color: var(--color-main-background-dark);
}

.header-dark {
    background-color: var(--color-haeder-background-dark);
    color: var(--color-main-color-dark);
}
.header-dark.small {
    background-color: var(--color-haeder-background-small-dark);
    color: var(--color-main-color-dark);
    backdrop-filter: blur(var(--blur-haeder-background-small));
    font-size: small;
    display: flex;
}
.header-btns {
    display: flex;
    align-items: center;
}
.site-identity {
    display: flex;
}

.footer-dark {
    background-color: var(--color-footer-background-dark);
    color: var(--color-main-color-dark);
}


@media only screen and (max-width: 600px)  {
    header .info {
        margin-top: 1.4em;
        font-size: smaller;
    }
    header {
        font-size: smaller;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card .card-info {
        margin: 1em 0;
    }
    .card .card-buttons {
        text-align: center;
        justify-content: center;
        align-self: center;
        width: 100%;
        margin: 2em 0 -1em;
    }
    .btn-loading-long {
        display: inline-block;
        width: 100%;
        height: 3em;
        border-radius: 1em;
        margin: 0.5em;
        background-color: rebeccapurple;
        user-select: none;
        animation-name: loading;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }    
}